<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>Crowds Info Provider</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
    <div class="header"></div>
    <div class="header-logo">
        <img src="{{ url_for('static', filename='img/header.jpg') }}">
        <p>快適度測るくん</p>
    </div>

    <div class="print">
        <img src="{{ url_for('static', filename=img) }}" alt="snake" />
    </div>

    <div class="main">
        <p>{{ state }}</p>
        <p>CO2濃度 {{co2}} ppm</p>
    </div>

    <div class="footer"></div>
</body>

</html>